[Unit]
Description=iperf3 client instance %i
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=nobody
Group=nogroup
EnvironmentFile=-{{ iperf3_client_conf_dir }}/%i.conf
ExecStart=/usr/bin/iperf3 -c $TARGET_IP -p $TARGET_PORT $PROTOCOL -t 0 $EXTRA_ARGS
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=iperf3-client-%i

[Install]
WantedBy=multi-user.target
