[Unit]
Description=iperf3 server on port %i
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=nobody
Group=nogroup
ExecStart=/usr/bin/iperf3 -s -p %i
Restart=on-failure
StandardOutput=journal
StandardError=journal
SyslogIdentifier=iperf3-server-%i

[Install]
WantedBy=multi-user.target
